<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright ©2016 Kaltura, Inc.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Sakai tool controllers -->
    <bean id="mymediaController" class="org.sakaiproject.kaltura.controllers.MyMediaController">
        <property name="kalturaLTIService" ref="kalturaLTIService" />
        <property name="serverConfigurationService" ref="org.sakaiproject.component.api.ServerConfigurationService" />
    </bean>

    <!-- Spring controller mappings -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/main.htm">mymediaController</prop>
            </props>
        </property>
    </bean>

    <!-- Spring view mappings -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
        <property name="order" value="10" />
    </bean>

    <import resource="classpath*:kaltura-services-context.xml" />

</beans>
