.custom-role-status-success, .custom-role-status-fail {
    width: 50px !important;
    padding: 6px 12px !important;
    margin: 0px 3px;
}

.panel-default {
    width: 800px !important;
    margin: 0 auto;
}

.custom-role-button > div {
    float: left;
    display: inline;
}
