
<!--
Copyright ©2016 Kaltura, Inc.

-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

    <!-- Sakai tool controllers -->
    <bean id="mainController" class="org.sakaiproject.kaltura.controllers.MainController">
    </bean>

    <bean id="roleController" class="org.sakaiproject.kaltura.controllers.RoleController">
    </bean>

    <!-- Spring controller mappings -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/main.htm">mainController</prop>
                <prop key="/role.htm">roleController</prop>
            </props>
        </property>
    </bean>

    <!-- Spring view mappings -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
        <property name="order" value="10" />
    </bean>

</beans>
