button {
    background-color: #09c;
    font-weight: bold;
    color: #fff;
    text-transform: capitalize;
    margin: 0 5px 0 0;
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: normal;
}

button:hover {
    background-color: #06b;
}

fieldset.form {
    width: 90%;
    margin: 20px auto;
    border: 3px solid #666;
    padding: 0 20px 10px 20px;
}

h2,
label,
legend {
    color: #555;
}

label {
    font-size: 1.2em;
}

legend.form {
    border: none;
    width: auto;
    margin-bottom: 2px;
    padding: 5px;
    color: #09c;
}

td,
td input,
td select {
    vertical-align: middle !important;
}
