<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright ©2016 Kaltura, Inc.

-->

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping resource="hbm/KalturaLtiRole.hbm.xml" />
        <mapping resource="hbm/KalturaLtiAuthCode.hbm.xml" />
    </session-factory>
</hibernate-configuration>
