<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright ©2016 Kaltura, Inc.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Sakai tool controllers -->
    <bean id="baseController" class="org.sakaiproject.kaltura.controllers.BaseController" abstract="true">
        <property name="kalturaLTIService" ref="kalturaLTIService" />
        <property name="securityService" ref="securityService" />
        <property name="serverConfigurationService" ref="org.sakaiproject.component.api.ServerConfigurationService" />
        <property name="toolManager" ref="org.sakaiproject.tool.api.ToolManager" />
        <property name="userService" ref="userService" />
    </bean>

    <bean id="mediagalleryController" class="org.sakaiproject.kaltura.controllers.MediaGalleryController" parent="baseController">

    </bean>
    
    <bean id="mediadisplayController" class="org.sakaiproject.kaltura.controllers.MediaDisplayController" parent="baseController">
    </bean>

    <bean id="mediadisplayStaticController" class="org.sakaiproject.kaltura.controllers.MediaDisplayStaticController" parent="baseController">
    </bean>

    <bean id="ckeditorController" class="org.sakaiproject.kaltura.controllers.CKEditorController" parent="baseController">
    </bean>

    <bean id="ckeditorCallbackController" class="org.sakaiproject.kaltura.controllers.CKEditorCallbackController" parent="baseController">
    </bean>

    <!-- Spring controller mappings -->
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
            <props>
                <prop key="/ckeditor.htm">ckeditorController</prop>
                <prop key="/ckeditorcallback.htm">ckeditorCallbackController</prop>
                <prop key="/mediagallery.htm">mediagalleryController</prop>
                <prop key="/mediadisplay.htm">mediadisplayController</prop>
                <prop key="/mediadisplaystatic.htm">mediadisplayStaticController</prop>
            </props>
        </property>
    </bean>

    <!-- Spring view mappings -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
        <property name="order" value="0" />
    </bean>

    <import resource="classpath*:kaltura-services-context.xml" />

</beans>
